.card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 300px; 
    width: 200px; 
    margin-top: 300px; 
    margin-bottom: 100px; 
    margin-left: 235px; 
    background-image: url(https://www.bu.edu/files/2022/07/feat-STScI-01G7ETNMR8CBHQQ64R4CVA1E6T-1200x1200.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.photo {
    padding-top: 20px;
    height: 10px;
    border: none;
    border-radius: 5px;
}

li {
    list-style: none;
    cursor: pointer;
    color: white;
    height: -10px;
}

button {
    margin-top: 30px;
    background-color: rgb(100, 99, 99);
    border: none;
    border-radius: 3px;
    justify-content: center;
}

button:hover {
    background-color: rgb(217, 93, 5);
}

a i {
    color: rgb(100, 99, 99);
    position: relative;
    top: 15px;
}

a i:hover {
    color: rgb(217, 93, 5);
}