body {
    background: linear-gradient(to bottom right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    background-image: url(https://www.bu.edu/files/2022/07/feat-STScI-01G7ETNMR8CBHQQ64R4CVA1E6T-1200x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    transition: transform 0.6s;
}

img:hover {
    transform: scale(1.1);
}

ul {
    text-align: center;
    padding: 0;
    margin-top: 20px;
}

li {
    list-style: none;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a i {
    color: black;
    padding: 5px;
}

a i:hover {
    color: rgb(104, 5, 217);
}

.social-media-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 340px;
    width: 100%;
    padding: 10px;
    border: 2px solid #8622e4;
    border-radius: 10px;
    background-color: #ffffff;
}

.social-media-banner a {
    color: black;
    text-decoration: none;
}

.social-media-banner a:hover {
    color: rgb(104, 5, 217);
}