body {
    background: linear-gradient(to bottom right, #a371ff, #4171c9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    background-image: url(https://www.bu.edu/files/2022/07/feat-STScI-01G7ETNMR8CBHQQ64R4CVA1E6T-1200x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    transition: transform 0.6s;
}

img:hover {
    transform: scale(1.3);
}

ul {
    text-align: center;
    padding: 0;
    margin-top: 20px;
}

li {
    list-style: none;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

li:hover {
    color: #ccc;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a i {
    color: black;
    padding: 5px;
}

a i:hover {
    color: rgb(104, 5, 217);
}

.social-media-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ac571f;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #ac571f, #b3b02c);
}

.social-media-banner a {
    color: black;
    text-decoration: none;
}

.social-media-banner a:hover {
    color: rgb(104, 5, 217);
}

@media screen and (max-width: 300px) {
    .card {
        width: 95%; /* Adjust width for smaller screens */
    }
    .social-media-banner {
        margin-top: 10px; /* Adjust margin for smaller screens */
    }
}